
li.xyz{color: bluevioletbcak;
background-color: bisque;}
#abc{color:rgb(11, 11, 11);
    background-color: rgb(221, 191, 191);}
p>a{color:rgb(255, 140, 0); background-color: azure;}    
h2+p{ color:aquamarine;
    background-color: bisque;
}